.block {
    display: block;
    margin: 12px auto 0 12px;
    &:nth-child(2) {
        overflow: hidden;
    } 
}

.flex {
    display: flex;
    margin: 0px auto 0 12px;
    &:nth-child(2) {
        overflow: unset;
    } 
}

.tableCell {
    flex: 0 1 200px;
    height: 26px;
    align-items: center;    
  
    &:nth-child(1) {
        flex: 0 0 110px;
        margin-top: 0;
    }
    &:nth-child(2) {
        flex: 1 0 200px;
        white-space: nowrap;
        text-overflow: ellipsis;  
    }
}