@import '../../global.modules.scss';

.body, .head, .tableHead, .tableRow {
    display: flex;
}

input {
    border: $border_global_color $border_global_style $border_global_width;
    border-radius: 6px;
    height: 36px;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.1px;
    color: #71717A;
    background: #202124;
    width: calc(100% - 20px);
    margin: 12px 0;
    padding: 0 10px;
}

.body {
    flex-direction: column;
    flex: 1 0 0;
    background: #202124;
    height: 100%;
    width: calc(100% - 300px);
    .head {
        flex-direction: row;
        height: 44px;
        width: 100%;
        border-bottom: $border_global_color $border_global_style $border_global_width;        
        .title {
            font-size: 18px;
            line-height: 21px;
            padding: 11px 15px 12px 15px;
            border-right: $border_global_color $border_global_style $border_global_width;
        }
    }
    .table {
        padding: 0 10px;
        letter-spacing: 0.1px;
        .tableHead {
            height: 42px;
            color: $main_element_color;
        }
        .tableRow {
            height: 60px;
            color: $second_element_color;
            &:last-child {
                border-bottom: none;
            }
        }
        .tableHead, .tableRow {
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            border-bottom: $border_global_color $border_global_style $border_global_width;
        }
        .tableCell {
            flex: 0 1 200px;
            margin: 21px auto 21px 12px;
            &:nth-child(1) {
                flex: 0 0 110px;
            }
            &:nth-child(2) {
                flex: 1 1 200px;
            }
        }
    }
}



@media (max-width: 850px) {
    .tableCell {
        flex: 0 1 0;
        margin: 21px auto 21px 12px;
    }
}