.body {
    width: 100%;
}
.listItem {
    height: 32px;
    display: flex;
    align-items: center;
}
.listItem svg {
    width: 22px;
    height: 22px;
    padding: 5px 14px 5px 20px;
}
.listItem svg path {
    fill: #FFFFFF;
}
.choosen {
    background: #A1A1AA;
}