.body {
    width: 107px;
    height: 28px;    
    .menu {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        width: 107px;
        height: 28px;
        background: #414144;
        border-radius: 6px;
    }
}