.level0, .level1, .level2 {
    position: relative;
}

.level0 {
    padding-left: 2px;
    fill:#5F98F5;
}
.level0 svg path{
    fill:#5F98F5;
}
.level0.haveChild::after{
    height: 25px;
    top: 20px;
    left: 12px;
}

.level1 {
    padding-left: 35px;
}
.level1 svg path{
    fill:#95FFAC;
}
.level1.haveChild::after{
    height: 25px;
    top: 16px;
    left: 42px;
}
.level1::before {
    border-left: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;    
    top: -20px;
    height: 28px;
    left: 12px;    
    width: 22px;
}


.level2 {
    padding-left: 56px;
}
.level2 svg path{
    fill:#7890B2;
}
.level2::before {
    border-left: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    top: -16px;
    height: 28px;
    left: 42px;
    width: 17px;
}

.haveChild::after{
    content: "";
    border-left: 1px solid #C6C6C6;
    position: absolute;
}

.level1::before, .level2::before {
    content: "";
    position: absolute;
}

.level1.haveNextBrother:after, .level2.haveNextBrother:after {
    content: "";
    position: absolute;
    border-left: 1px solid #C6C6C6;
}
.level1.haveNextBrother:after {
    height: 32px;
    top: 9px;
    left: 12px;
}
.level2.haveNextBrother:after {
    height: 32px;
    top: 13px;
    left: 42px;
}