@import '../../global.modules.scss';

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    &:hover {
        transform:scale(1.05)
    }
}

.level0, .level1, .level2, .level3 {
    padding-left: 2px;
    position: relative;
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2px;    
}

.level1::before,
.level2::before, 
.haveChild::after,
.level1.haveNextBrother:after,
.level2.haveNextBrother:after {
    content: "";
    position: absolute;
}

.haveChild::after,
.level1.haveNextBrother:after,
.level2.haveNextBrother:after {
    @include branch-left;
}

.level0 {
    padding-left: 2px;
    svg path{
        fill:#5F98F5;
    }
    &.haveChild {
        &:after{            
            height: 23px;
            top: 21px;
            left: 12px;
        }
    }
}

.level1 {
    svg path{
        fill:#95FFAC;
    }
    &:not(.withoutBranch) {
        &:before {        
            @include branch-left;
            @include branch-bottom;    
            top: -16px;
            height: 30px;
            left: -14px;
            width: 17px;
        }
    }
    &.haveChild::after {
        height: 24px;
        top: 21px;
        left: 10px;
    }
}

.level2 {
    svg path{
        fill:#7890B2;
    }
    &:not(.withoutBranch) {
        &:before {
            @include branch-left;
            @include branch-bottom;
            top: -16px;
            height: 30px;
            left: -16px;
            width: 23px;
        }
    }
    &.haveNextBrother:after {
        height: 32px;
        top: 13px;
        left: -16px;
    }
}

.level3 {
    svg path{
        fill:#DF4444;
    }
}