@import '../../global.modules.scss';


@mixin branch-left {
    border-left: $border_global_style $border_global_width $border_level_color;
}
@mixin branch-bottom {
    border-bottom: $border_global_style $border_global_width $border_level_color;
}



.level0, .level1, .level2, .level3 {
    position: absolute;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2px;
}

.level1::before, .level2::before, 
.haveChild::after,
.level1.haveNextBrother:after, .level2.haveNextBrother:after {
    content: "";
    position: absolute;
}

.haveChild::after,
.level1.haveNextBrother:after, .level2.haveNextBrother:after {
    @include branch-left;
}

.level0 {
    padding-left: 2px;
    svg path{
        fill:#5F98F5;
    }
    &.haveChild {
        &:after{            
            height: 25px;
            top: 20px;
            left: 12px;
        }
    }
}

.level1 {
    padding-left: 34px;
    svg path{
        fill:#95FFAC;
    }
    &:not(.withoutBranch) {
        &:before {        
            @include branch-left;
            @include branch-bottom;    
            top: -16px;
            height: 30px;
            left: 12px;
            width: 21px;
        }
    }
    &.haveChild::after {
        height: 24px;
        top: 21px;
        left: 42px;
    }
    &.haveNextBrother:after {
        height: 32px;
        top: 13px;
        left: 12px;
    }
}



.level2 {
    padding-left: 59px;
    svg path{
        fill:#7890B2;
    }
    &:not(.withoutBranch) {
        &:before {
            @include branch-left;
            @include branch-bottom;
            top: -16px;
            height: 30px;
            left: 42px;
            width: 20px;
        }
    }
    &.haveNextBrother:after {
        height: 32px;
        top: 13px;
        left: 42px;
    }
}

.level3 {
    padding-left: 86px;
    margin-top: 1px;
    svg path{
        fill:#DF4444;
    }
}